/* COMMON TO ALL CHARTS */

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
div.charts {
    float: left;
}

div.sub_charts {
    float: left;
}


/* MAP CHART */
div.map_chart {
    
}

div.sub_map {
    width: 5%;
}

div.infos {
    border: solid 1px;
}

svg#legend {
    padding-left: 2%;
}


/* DONUT CHART */
div.donut_chart {

}


/* GENERAL */
h1 {
    font-family: sans-serif; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}